In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Let's start by reading in one year's worth a data to get a better feel

In [3]:
#df = pd.read_excel('/Users/andrewroberts/desktop/ga/capstone/Data/FuelMixReport_PreviousYears/IntGenByFuel2015.xls', sheet_name = ['Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan'], index_col = 'Date-Fuel')

In [7]:
df = pd.read_excel('/Users/andrewroberts/desktop/ga/capstone/Data/FuelMixReport_PreviousYears/IntGenByFuel2019.xlsx', sheet_name = None)

In [8]:
cdf = pd.concat(df,sort=False)

In [9]:
cdf

                   Unnamed: 0    Energy, GWh       .1   .2   .3       Date  \
data_Summary_1 0       Gas-CC  154390.781784 NaN  NaN  NaN  NaN        NaT
               1         Coal   77857.179461 NaN  NaN  NaN  NaN        NaT
               2         Wind   76707.700348 NaN  NaN  NaN  NaN        NaT
               3      Nuclear   41313.512518 NaN  NaN  NaN  NaN        NaT
               4          Gas   27379.295662 NaN  NaN  NaN  NaN        NaT
...                       ...            ...  ..  ...  ...  ...        ...
Dec            274        NaN            NaN NaN  NaN  NaN  NaN 2019-12-31
               275        NaN            NaN NaN  NaN  NaN  NaN 2019-12-31
               276        NaN            NaN NaN  NaN  NaN  NaN 2019-12-31
               277        NaN            NaN NaN  NaN  NaN  NaN 2019-12-31
               278        NaN            NaN NaN  NaN  NaN  NaN 2019-12-31

                       Fuel Settlement Type          Total  ...        22:45  \
data_Summary_1 0        NaN             NaN            NaN  ...          NaN
               1        NaN             NaN            NaN  ...          NaN
               2        NaN             NaN            NaN  ...          NaN
               3        NaN             NaN            NaN  ...          NaN
               4        NaN             NaN            NaN  ...          NaN
...                     ...             ...            ...  ...          ...
Dec            274    Hydro           FINAL    1294.727591  ...    12.110293
               275  Nuclear           FINAL  122361.196907  ...  1274.357853
               276    Other           FINAL     -27.694154  ...    -0.730354
               277    Solar           FINAL   12702.921475  ...     0.000000
               278     Wind           FINAL  126638.338242  ...  2918.488712

                          23:00        23:15        23:30        23:45  \
data_Summary_1 0            NaN          NaN          NaN          NaN
               1            NaN          NaN          NaN          NaN
               2            NaN          NaN          NaN          NaN
               3            NaN          NaN          NaN          NaN
               4            NaN          NaN          NaN          NaN
...                         ...          ...          ...          ...
Dec            274    11.293594     2.360429     1.860232     1.859553
               275  1274.565577  1274.611087  1274.621904  1274.421454
               276     0.206028     0.210343    -0.947358    -0.946713
               277     0.003500     0.000000     0.000000     0.003500
               278  2940.185443  2942.602495  2960.571413  2985.575598

                           0:00  01:15 (DST)  01:30 (DST)  01:45 (DST)  \
data_Summary_1 0            NaN          NaN          NaN          NaN
               1            NaN          NaN          NaN          NaN
               2            NaN          NaN          NaN          NaN
               3            NaN          NaN          NaN          NaN
               4            NaN          NaN          NaN          NaN
...                         ...          ...          ...          ...
Dec            274     1.859500          NaN          NaN          NaN
               275  1274.523468          NaN          NaN          NaN
               276     0.125983          NaN          NaN          NaN
               277     0.000000          NaN          NaN          NaN
               278  3042.547193          NaN          NaN          NaN

                    02:00 (DST)
data_Summary_1 0            NaN
               1            NaN
               2            NaN
               3            NaN
               4            NaN
...                         ...
Dec            274          NaN
               275          NaN
               276          NaN
               277          NaN
               278          NaN

[3292 rows x 110 columns]

In [10]:
path = '../data/FuelMixReport_PreviousYears'
files = os.listdir(path)
files

['IntGenbyFuel2017.xlsx',
 '~$IntGenbyFuel2019.xlsx',
 '.DS_Store',
 'IntGenByFuel2016.xlsx',
 'IntGenbyFuel2020.xlsx',
 'IntGenByFuel2014.xls',
 'IntGenByFuel2015.xls',
 'IntGenByFuel2011.xls',
 'IntGenByFuel2010.xls',
 'IntGenByFuel2012.xls',
 'IntGenByFuel2007.xls',
 'IntGenByFuel2013.xls',
 'IntGenByFuel2009.xls',
 'IntGenByFuel2008.xls',
 'IntGenbyFuel2019.xlsx',
 'IntGenbyFuel2018.xlsx']

In [11]:
files_xls = [f for f in files if f[17:20] == 'xls']
files_xls

['IntGenbyFuel2017.xlsx',
 'IntGenByFuel2016.xlsx',
 'IntGenbyFuel2020.xlsx',
 'IntGenByFuel2014.xls',
 'IntGenByFuel2015.xls',
 'IntGenByFuel2011.xls',
 'IntGenByFuel2010.xls',
 'IntGenByFuel2012.xls',
 'IntGenByFuel2007.xls',
 'IntGenByFuel2013.xls',
 'IntGenByFuel2009.xls',
 'IntGenByFuel2008.xls',
 'IntGenbyFuel2019.xlsx',
 'IntGenbyFuel2018.xlsx']

In [ ]:
df = pd.read_excel('/Users/andrewroberts/desktop/ga/capstone/Data/FuelMixReport_PreviousYears/IntGenByFuel2019.xlsx', sheet_name = None)

In [12]:
def data_loader(files):
    all_yrs = []
    for each in files:
        pd.read_excel(each, sheet_name = None)
        pd.concat(each,sort=False)
        all_yrs.append(each)
    full_df = all_yrs[['Date', 'Fuel', 'Total']]  
    return